NODE_ENV=development

# Server
PORT=5001

# Email
RESEND_API_KEY=
MAIL_FROM=
MAIL_TO_OVERRIDE=

# ImageKit
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=

# Optional / existing app settings
LOG_NO_ORIGIN=true
UNIT_TURNAROUND_MINUTES=0
